/* IMPOSTAZIONI GENERALI */

*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: url(/s1/g4/esercizio-personale/img/sfondo.png);
}
header,main,footer{
    margin:1rem;
}
.colore-viola{
    color:#932B73;
    font-weight: bold;
}
.colore-azzurro{
    color:#009FCA;
    text-decoration: underline;
}
.background-grigio{
    background: #DEE5E6;
}
a{
    text-decoration: none;
}
section{
    margin:1rem 0;
}

/* HEADER */

header{
    background: #006E88;
    padding: 1rem 0;
}
header div#logo{
    text-align: center;
    padding-bottom: 1rem;
}
header p{
    text-align: center;
    color:white;
    padding-bottom:1rem;
    font-weight: bold;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}
nav .link a{
    color:white;
}
nav div.link{
    padding-bottom:0.5rem;
}
/*nav div.link a::before{
    content: "&rarr;";
}
nav div.link a::after{
    content: "&larr;";
}*/
nav div.link a::before{
    content: "→";
}
nav div.link a::after{
    content: "←";
}
/* MAIN */
/* ELEMENTI NEL MAIN - ARTICLE */
main{
    background: #fff;
}
main h1{
    font-size: 2rem;
    font-weight:bold;
}
main article{
    padding:2rem 1rem;
}
main p{
    padding-bottom: 1rem;
}
main p.data-right{
    text-align: right;
}
main p#crediti{
    padding:1rem 0;
    color:#96A49F;
}
main p#crediti i{
    padding-right: 0.25rem;
}
main ul, main ol{
    padding-bottom: 1rem;
    padding-left:2rem;
}
main article iframe{
    width: 100%;
    border-radius: 25px;
}
/* TABELLE */
main table caption{
    font-weight: bold;
}
main table{
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #3366CC;
}
main table th{
    background: #486AC4;
    color:#fff;
    padding:1.5rem 0;
    border:1px solid #fff;
}
main table td{
    padding:0.75rem 0;
}
main table tr:nth-of-type(even):not(.bianca){
    background-color: #EFEFEF;
    border-top:2px solid lightgrey;
    border-bottom:2px solid lightgrey;
}
main article div.tabella{
    padding-bottom:2rem;
}
/* TABELLE */
main section h2{
    font-weight: bold;
    text-align: center;
    color:#2A3338;
    padding:1rem 0;
}
/* FORM */
main section div#form-novita{
    padding:1rem;
}
main section div#form-novita form input{
    border:0;
    border-bottom: 2.5px dotted #4E474B;
    width:55%;
}
main section div#form-novita form button{
    background:#4067C1;
    color:#fff;
    font-weight: bold;
    border:0;
    width: 40%;
}
/* FORM */
/* ELEMENTI NELL' ASIDE */
aside h2{
    text-align: center;
    margin: 2rem 0;
    font-weight: bold;
}
aside div.correlati{
    border:3px solid #E0DDDF;
    margin:1rem 0;
}
aside div.contenuto-correlati{
    padding:1rem;
}
aside div.contenuto-correlati a{
    color:#02A0CC;
    text-decoration: underline;
}
aside div.contenuto-correlati i{
    padding-right:0.25rem;
}
/* ELEMENTI NELL' ASIDE */
/* FOOTER */
footer{
    background: #055368;
    color:white;
}
footer p{
    padding: 1rem 0;
    text-align: center;
}
footer address{
    padding:0 1rem;
    padding-bottom: 2rem;
    text-align: center;
}
footer address a{
    color:#FF00FE;
}
/* FOOTER */


