/* UTILITY */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.center{
    text-align: center;
}
.colore-azzurro{
    color:#25A6CB;
}
.colore-bianco{
    color:#fff;
}
.bg-arancione{
    background: #f04c2f;
}
p{
    padding:1rem 0;
}
.bg-azzurro{
    background:#25A6CB;
}
.strong{
    font-weight: bold;
}
h1,h2,h3{
    font-weight: bold;
}
h1{
    font-size: 2rem;
}
h2{
    font-size:1.25rem;
}
h3{
    font-size:1rem;
}
p{
    font-size:16px;
}
/* UTILITY */

/* HEADER */

/* HEADER */

/* MAIN */

/* section principale */

/* section principale */

/* section dettaglio */

/* section dettaglio */
/* MAIN */

/* ASIDE */

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer div#contatti{
    display: flex;
    flex-direction: column;
}
/* FOOTER */
/* RESPONSIVE */
@media only screen and (min-width: 768px) and (max-width: 1920px) {
/* HEADER */
header{
    background:black;
    padding:2rem 3rem;
}
/* HEADER */

/* MAIN */
main section#principale{
    background: url(../images/banner.jpg) no-repeat center center/cover;
    padding:10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
main section#principale p{
    padding:2rem 0;
}
main section#principale div#link-principale{
    width: 20%;
    margin: auto;
    padding: 0.75rem 0;
    border-radius: 6px;
}
/* SECTION DETTAGLIO */
section#dettaglio-desktop{
    padding: 4rem 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#dettaglio-desktop div#img-dettaglio{
    flex:1;
    text-align: center;
}
section#dettaglio-desktop div#img-dettaglio img{
    width: 50%;
    border-radius: 50%;
}
section#dettaglio-desktop div#dettagli-box{
    flex:1;
    text-align: left;
}
main section#banner > div.bg-arancione{
    padding:4rem 0;
}
aside{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:4rem 4rem;
}
aside div.vantaggi{
    text-align:center;
    border: 5px solid lightgray;
    margin: 2rem;
    padding: 0;
}        
aside div.vantaggi div.img-vantaggi img{
    width: 100%;
}
/* MAIN */
} 
/* RESPONSIVE */